h3 {{books.length}} books

div
  | Filter: 
  input.filter(ng-model='query')

div
  ul.books
    li.book-line(ng-repeat='book in books | filter:query')
      div.book-card
        {{book.name}}
        {{book.familiarity}}
        div.detail
          {{book.events}}
