div
  | Filter: 
  input.filter(ng-model='query')
br

div
  div.book-card(ng-repeat='book in books | filter:query')
    a(href='{{book.douban_url}}', target='_blank') {{book.title}}
    br
    {{book.author}}
