div
  | Filter: 
  input.filter(ng-model='query')
br

div
  div.book-card(ng-repeat='book in books | filter:query')
    span.title
      a(href='{{book.douban_url}}', target='_blank') {{book.title}}
    br
    span.author
      {{book.author}}
