doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title ThoughtWorks Beijing book list
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
    link(href='http://fonts.googleapis.com/css?family=Great+Vibes|Audiowide',rel='stylesheet',type='text/css')

  body
    block body
