/* app css stylesheet */

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: 'Audiowide', cursive;
  margin: 8px;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
  color: #000000;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
//  content: "[";
}

.menu:after {
//  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "   ";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.books {
  list-style: none;
  margin-bottom: 1em;
  padding: 0 0 0.5em;
}

div.book-card {
  cursor: pointer;
  padding: 0.4em;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  margin: 0.4em;
  display: inline-block;
  box-shadow: 2px 2px 10px #AAAAAA;
  font-family:"Times New Roman", Times, serif;
  transition:background-color 0.5s;
  -moz-transition:background-color 0.5s;
  -webkit-transition:background-color 0.5s;
  -o-transition:background-color 0.5s;
}

div.book-card:hover {
  background-color: #E6E6E6;
}


li.fields {
  padding: 0.4em;
  display: inline;
}

div.newly-add {
  padding: 0.4em;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  margin: 0.4em;
  display: inline-block;
  font-family:"Times New Roman", Times, serif;
}

ul.newly-add-entries {
  list-style: none;
  padding: 0 0 0.5em;
}

span.author{
  font-size: 12px;
}


/* Override bootstrap css */
.modal-dialog {
  margin: 200px auto;
}