/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.contacts {
  list-style: none;
  margin-bottom: 1em;
  padding: 0 0 0.5em;
}

div.contact-card {
  padding: 0.4em;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  margin: 0.4em;
}


li.fields {
  padding: 0.4em;
  display: inline;
}

 
